.high-margin-main {
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
}

.high-margin-main h6 {
    background-color: #aa99aa;
}