.botton-nav {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 2px;
    border-radius: 2px 20px 2px 0px;
}

.botton-nav a {
    text-decoration: none;
    color: darkgray;
}

.active,
.botton-nav:hover {
    background-color: #fff;
    color: white;
}