.fluctatuing-main {
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 2px 0px 21px -1px rgba(0, 0, 0, 0.54);
}

.fluctatuing-main h6 {
    background-color: #aa99aa;
}

#status-rate td {
    margin: 0 auto;
}

#status-rate :first-child {
    color: green;
}

#status-rate :nth-child(even) {
    color: red;
}

#status-rate :last-child {
    color: red;
}