* {
  margin: 0;
  padding: 0;
}

.main-data-button {
  background-color: #ffffff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.header-progress {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.display-component {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}